.interactive {
  display: flex;
  background: aliceblue;
  height: 100%;
  &-item {
    flex-basis: 220px;
    background: aquamarine;
  }
  &-container {
    flex: 1;
    &-layout {
      height: 100%;
    }
  }
  &-wrapper {
    &__over {
      background-color: gray;
    }
  }
  &-parampanel {
    flex-basis: 220px;
    background: antiquewhite;
  }
}
