.rightClickMenu {
  padding: 14px 0;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 8px 0 rgba(170, 170, 170, 0.3);
  border-radius: 3px;
  .menuitem:not(:last-child) {
    margin-bottom: 6px;
  }
  .menuitem {
    padding: 0 14px;
    cursor: pointer;
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}
