.graphblock-header {
  display: flex;
  // justify-content: space-between;
  justify-content: center;
  align-content: center;
  position: relative;
  height: 32px;
  line-height: 32px;
  background: rgba(51, 165, 138, 1);

  &-tools {
    position: absolute;
    left: 0;
    span {
      margin: 0 12px;
      user-select: none;
      cursor: pointer;

      &:hover {
        background: #2e9975;
      }
    }
    // 调试按钮组
    .debug-btn {
      user-select: none;

      position: absolute;
      left: 340px;
      top: 0;
      z-index: 999;

      .debug-btn-inner {
        margin: 0 3px 0 3px;
      }

      .debug-btn-inner:hover {
        box-shadow: 0px 0px 3px #fff;
        opacity: 1;
        //border:1px solid rgba(51,165,138,0.6);
        background: #fff !important;
        //color: rgb(51,165,138);
      }
      // .debug-btn-inner{
      //   color: #fff !important;
      // }
    }

    .item-disabled {
      color: rgba(255, 255, 255, 0.35);
    }
  }

  &-title {
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    height: 18px;
    font-size: 18px;
  }

  &-user {
    position: absolute;
    right: 0;
    &-name {
      display: inline-block;

      span {
        font-weight: 400;
        min-width: 98px;
        display: inline-block;
        margin-left: 9px;
      }
    }

    &-sign-out {
      margin: 0 24px 0 16px;
      cursor: pointer;
    }

    .graphblock-header-operation {
      color: black;
      width: 32px;
      height: 16px;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }
}
