.CodeMirror {
  height: 100%;
}

.dragger-editor-container-codeblock {
  display: flex;
  height: 100%;
  flex-direction: column;
  .ant-tabs-content {
    height: calc(100% - 41px);
  }
  .dragger-editor-container-tabs {
    flex: 1;
  }
}

.dragger-editor-container-output {
  height: 60px;
  background: white;
  &-anchor {
    height: 10px;
    cursor: row-resize;
  }
}
