.CodeMirror {
  height: 100%;
  .CodeMirror-vscrollbar {
    display: none !important;
  }
}

.dragger-editor-container-codeblock {
  display: flex;
  height: 100%;
  flex-direction: column;
  .ant-tabs-content {
    height: calc(100% - 41px);
  }
  .dragger-editor-container-tabs {
    flex: 1;
  }
}

.dragger-editor-container-output {
  height: 60px;
  background: white;
  border-top: 1px solid #cccccc;
  bottom: 0px;
  overflow: auto;
  &-anchor {
    position: fixed;
    height: 10px;
    cursor: row-resize;
    width: inherit;
  }
  background: linear-gradient(180deg, #f2f2f2 0%, #e4e5e6 100%);
}
