.mxgraph-cell {
  display: inline-block;
  font-size: 12px;
  color: #39af8a;
  height: 28px;
  margin-left: 32px;
  line-height: 28px;
  text-align: center;
  // border: 1px solid #eee;
  vertical-align: middle;
  border-radius: 10%;
  cursor: pointer;
}

.designergraph-container-header {
  flex: auto;
  &-tool {
    width: 100%;
    box-sizing: content-box;
    border-bottom: 1px solid #eee;

    &-process,
    &-ground {
      background: #39af8a;
      color: white;
      width: 60px;
      border-radius: 2px;
    }

    // &-condition {
    //   position: relative;
    //   width: 60px;
    //   border: none;
    //   border-radius: 2px;
    //   &-left {
    //     position: absolute;
    //     left: 0;
    //     width: 0;
    //     height: 0;
    //     border-top: 16px solid transparent;
    //     border-right: 30px solid #eee;
    //     border-bottom: 16px solid transparent;
    //     span {
    //       position: absolute;
    //       left: 2px;
    //       top: -16px;
    //       width: 0;
    //       height: 0;
    //       border-top: 16px solid transparent;
    //       border-right: 30px solid white;
    //       border-bottom: 16px solid transparent;
    //     }
    //   }
    //   &-right {
    //     position: absolute;
    //     right: 0;
    //     width: 0;
    //     height: 0;
    //     border-top: 16px solid transparent;
    //     border-left: 30px solid #eee;
    //     border-bottom: 16px solid transparent;
    //     span {
    //       position: absolute;
    //       right: 2px;
    //       top: -16px;
    //       width: 0;
    //       height: 0;
    //       border-top: 16px solid transparent;
    //       border-left: 30px solid white;
    //       border-bottom: 16px solid transparent;
    //     }
    //   }
    // }

    &-start,
    &-end {
      background: #39af8a;
      color: white;
      width: 32px;
      border-radius: 50%;
    }
    &-start {
      background: #39af8a;
      color: white;
      margin-left: 24px;
    }
    &-condition {
      position: relative;
      // margin-bottom: 5px;
      p {
        width: 24px;
        height: 24px;
        background-color: #39af8a;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg); /* Internet Explorer */
        -moz-transform: rotate(45deg); /* Firefox */
        -webkit-transform: rotate(45deg); /* Safari 和 Chrome */
        -o-transform: rotate(45deg);
      }
      span {
        height: 20px;
        width: 60px;
        font-size: 12px;
        // font-family: PingFangSC;
        font-weight: 400;
        color: rgba(65, 68, 69, 1);
        line-height: 25px;
        position: absolute;
        color: white;
        top: 0;
        left: -18px;
        display: inline-block;
        text-align: center;
      }
    }
  }
}
