.interactive {
  display: flex;
  background: aliceblue;
  height: 100%;
  &-item {
    flex-basis: 200px;
    background: aquamarine;
  }
  &-container {
    flex: 1;
    &-layout {
      display: grid;
      height: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
}
