$btn_backgroundColor: rgba(42, 140, 108, 1);
.ant-btn-primary {
  background: $btn_backgroundColor;
  color: white;
  border: none;
  &:hover {
    background: #32a67f;
    outline: none;
  }

  &:focus {
    background: #32a67f;
    outline: none;
  }
}

.ant-pagination-item-active {
  background: rgba(50, 166, 127, 1);
  border-color: rgba(50, 166, 127, 1);
  a {
    color: white !important;
    &:hover {
      color: white;
      border-color: rgba(50, 166, 127, 1) !important;
    }
  }
}
.ant-table-thead > tr > th {
  color: #adadad;
  background: white;
}
.ant-table-pagination.ant-pagination {
  float: left;
}
.ant-modal-close {
  color: white !important;
  top: -3px;
}
.ant-modal-header {
  height: 48px;
  background: linear-gradient(
    135deg,
    rgba(50, 166, 128, 1) 0%,
    rgba(50, 166, 146, 1) 100%
  ) !important;
  .ant-modal-title {
    color: white;
    line-height: 16px;
  }
}

.CodeMirror-sizer {
  position: absolute !important;
}

:root {
  user-select: none;
}

.loadingContent {
  width: 500px;
  height: 500px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  p {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100px;
    z-index: 4;
    color: black;
    text-align: center;
  }
}
