$btn_backgroundColor: rgba(42, 140, 108, 1);
.ant-btn-primary {
  background: $btn_backgroundColor;
  color: white;
}

.ant-pagination-item-active {
  background: rgba(50, 166, 127, 1);
  border-color: rgba(50, 166, 127, 1);
  a {
    color: white !important;
    &:hover {
      color: white;
      border-color: rgba(50, 166, 127, 1);
    }
  }
}
