#graphContent {
  .component {
    &-icon {
      width: 25px;
      height: 22px;
      margin: 0 10px;
      background: url(../../../images/icon.jpg) no-repeat;
      background-size: 100% 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
