#graphContent {
  .rcomponent {
    &-content {
      margin-left: 24px;
      vertical-align: middle;
      display: inline-block;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-icon {
        width: 25px;
        height: 22px;
        margin: 0 10px;
        background: url(../../../images/judge.jpg) no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}
