.outputTabs {
  .ant-tabs-tab {
    //background: pink !important;
    padding: 12px 0px;
    margin: 0;
  }
  .ant-tabs-nav {
    width: 120px !important;
  }
}

.variablePanel {
  margin-top: 38px;
  height: 100%;
  display: block;
  .ant-tree li{
    padding: 0;
  }


  .left{

    margin-top:38px;
    float:left;
    width:223px;
    height: calc(100% - 38px);
    display: block;
  }
  .right{
    margin-top:38px;
    margin-left:4px;
    background: lemonchiffon;
    float:left;
    width: calc(100% - 223px - 4px);
    height: calc(100% - 38px);
    display: block;
  }
}


.dragger-editor-container-output{
  .ant-dropdown-trigger{
    height: 100% !important;
  }
}
