.outputTabs {
  .ant-tabs-tab {
    //background: pink !important;
    padding: 12px 0px;
    margin: 0;
  }
  .ant-tabs-nav {
    margin-left: 0px !important;
    width: 120px !important;
  }
}

.debugVariablePanel {
  margin-top: 38px;
  height: 100%;
  display: block;
  .ant-tree li {
    padding: 0;
  }

  .left {
    margin-top: 38px;
    float: left;
    min-width: 223px;
    height: calc(100% - 38px);
    display: block;
    overflow: auto;
  }
  .right {
    margin-top: 38px;
    margin-left: 4px;
    //background: lemonchiffon;
    float: left;
    width: calc(100% - 290px);
    height: calc(100% - 38px);
    display: block;
    overflow: auto;
  }
}

.dragger-editor-container-output {
  .ant-dropdown-trigger {
    height: 100% !important;
  }
}

.outputPanel-spTag {
  width: 61px;
  display: inline-block;
}

.outputPanel-normalTag {
  width: 73px;
  display: inline-block;
}
.outputPanel-spTag-input {
  height: 20px;
  width: 180px;
}
.outputPanel-spTag-pushBtn {
  margin-left: 10px;
}

.outputPanel-spTag-pushBtn:hover {
  margin-left: 6px;
  padding: 0 4px;
  color: #32a680;
  background: #fff;
}
