.dragger-editor-container-output-tages {
  float: right;
  color: #2e2e2e;
  user-select: none;
  .ant-tag-checkable-checked,
  .ant-tag-checkable:active {
    background: rgba(50, 166, 127, 1);
    // background-color: transparent;
    // border: 1px solid #cccccc;
    border-radius: 12px;
    i {
      color: white !important;
    }
    span {
      color: white !important;
    }
  }
  span {
    // background: rgba(50,166,127,1);
    color: #2e2e2e;
    &:hover {
      color: #2e2e2e;
      opacity: 1;
    }
  }
  &-label {
    padding-left: 8px;
  }
}


.dragger-editor-container-output-content{
  //background: red;
  p{
    line-height: 18px !important;
    padding-bottom: 8px !important;
  }
}
