.parampanel {
  user-select: none;
  &-item {
    // display: flex;
    align-items: center;
    margin: 12px 0;
    .param-title {
      white-space: nowrap;
      margin-right: 16px;
      // width: 180px;
      // word-break: break-all;
      white-space: normal;
    }
    &-adapt {
      flex: 1 1 0%;
      overflow: hidden;
    }
    &-content {
      display: flex;
      align-items: center;
      margin: 4px 0;
      &-adapt {
        flex: 1 1 0%;
        overflow: hidden;
        div {
          width: 100%;
        }
      }
    }
  }

  &-required,
  &-optional {
    height: 40px;
    background: rgba(255, 255, 255, 1);
    line-height: 40px;
    padding-left: 15px;
    border-bottom: 1px solid #eee;
  }
  &-content {
    padding: 0 16px;

    &-ifcondition {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 20px 1fr;
      place-items: center start;
      grid-gap: 4px 8px;
      padding: 4px 8px;
    }
  }
  &-desc {
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    align-items: center;
    > span {
      display: inline-block;
      margin-right: 16px;
      width: 140px;
    }
    > input {
      flex: 1;
    }
  }
  &-choosePath {
    display: flex;
  }
  .ant-btn:focus {
    color: rgba(0, 0, 0, 0.65);
    border-color: #d9d9d9;
  }
}
