.IFItem {
  &-header {
    display: flex;
    justify-content: space-between;
    background: rgba(50, 166, 127, 1);
    height: 28px;
    line-height: 28px;
    padding-left: 8px;
    color: rgba(255, 255, 255, 1);
    &__else {
      background-color: rgba(184, 230, 214, 1);
    }
    &-operation {
      > * {
        margin-right: 16px;
      }
    }
  }
  &-if {
    border: 1px solid rgba(50, 166, 127, 1);
  }
  &-else {
    border: 1px solid rgba(184, 230, 214, 1);
  }
  &-content {
    overflow: hidden;
    .IFItem-if {
      padding-left: 24px;
    }
  }
}
