.drageditor-header {
  height: 40px;
  background: rgba(51, 165, 138, 1);
  span {
    width: 74px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    user-select: none;
    cursor: pointer;
    .anticon {
      margin-right: 7px;
    }
  }
}
