.drageditor-header {
  height: 40px;
  background: rgba(51, 165, 138, 1);

  span {
    padding: 0px 12px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    user-select: none;
    cursor: pointer;

    .anticon {
      margin-right: 7px;
    }
  }

  &-operation {
    &:hover {
      //color: #2a8c6c;
      background: #2e9975;
      //background: rgba(255, 255, 255, 0.2);
    }

    &__disabled {
      color: rgba(255, 255, 255, 0.35);
    }
  }
}

.versionInput {

  .errorFomat,
  .errorFomat:focus {
    border-color: red;
    box-shadow: none
  }

  .versionTip {
    color: red;
  }
}
