.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1px 8px;
  left: 1px;

  .card-content-description {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
    text-overflow: ellipsis;
    .card-content-icon {
      margin-right: 12px;
    }
  }
  .card-content-visible {
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(153, 153, 153, 1);
  }
  &:hover {
    .card-content-operation {
      right: 84px;
      visibility: visible;
    }
  }
  .card-content-operation {
    position: absolute;
    //right: -2px;
    //transition: right 1s cubic-bezier(0.01, 0.28, 0, 1.09);
    visibility: hidden;
    color: rgba(204, 204, 204, 1);
    font-size: 16px;
    > * {
      margin-left: 14px;
      vertical-align: middle;
      &:hover {
        color: #32a67f;
      }
    }
  }
  .cmd-operation {
    line-height: 32px;
    height: 100%;
    cursor: pointer;
  }
  .card-content-searchtarget {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    font-size: 12px;
    // background-color: white;
    cursor: default;
    margin-left: 10px;
    &-anchor {
      font-size: 14px;
      color: rgba(50, 166, 127, 1);
    }
    &::before {
      content: '';
      position: absolute;
      height: 52px;
      top: -10px;
      left: -8px;
      width: 1px;
      background: rgba(50, 166, 127, 1);
    }
    &-fullscreen {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 16px;
      cursor: pointer;
    }
    &-showLageImgContain {
      display: block;
      position: fixed;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
    &-hideLageImgContain {
      display: none;
    }
    &-content {
      width: 48px;
      height: 32px;
    }
    &-img {
      max-width: 48px;
      max-height: 32px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .template_span {
    max-width: 100px;
    overflow: hidden;
    background: #eeeeee;
    border-radius: 2px;
    height: 24px;
    padding: 2px 4px;
    min-width: 40px;
    font-size: 14px;
    pointer-events: auto;
    margin: 0 4px;
    display: inline-flex;
    &__empty {
      border: 1px solid red;
    }
    &:empty {
      &::before {
        content: '_';
        visibility: hidden;
      }
    }
  }
  .template_input {
    pointer-events: auto;
    max-width: 100px;
    margin: 0 4px;
    height: 24px;
    &:focus {
      outline: none;
    }
  }
}
