.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .card-content-description {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
    .card-content-icon {
      margin-right: 12px;
    }
  }
  .card-content-visible {
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(153, 153, 153, 1);
  }
  .card-content-operation {
    color: rgba(204, 204, 204, 1);
    font-size: 16px;
    > * {
      margin-left: 14px;
      vertical-align: middle;
    }
    .card-content-searchtarget {
      position: relative;
      display: inline-flex;
      flex-direction: column;
      font-size: 12px;
      cursor: default;
      &-anchor {
        font-size: 14px;
        color: rgba(50, 166, 127, 1);
      }
      &::before {
        content: '';
        position: absolute;
        height: 52px;
        top: -10px;
        left: -8px;
        width: 1px;
        background: rgba(50, 166, 127, 1);
      }
    }
  }
  .template_span {
    background: #eeeeee;
    border-radius: 2px;
    height: 24px;
    padding: 2px 4px;
    min-width: 40px;
    font-size: 14px;
    pointer-events: auto;
    display: inline-flex;
    &:empty {
      &::before {
        content: '2';
        visibility: hidden;
      }
    }
  }
  .template_input {
    pointer-events: auto;
    // width: 50px;
    height: 24px;
    // &:empty{

    // }
  }
}
