.loopstatement {
  font-family: Source Han Sans CN;
  // font-weight: 600;
  &-drag-anchor {
    background: transparent;
    height: 12px;
    cursor: move;
    transition: all 0.5s;
    z-index: 1;
    transform: translateX(0);
    // &:hover {
    //   // background-color: rgba(50, 166, 127, 1);
    // }
  }
  &-fold-anchor {
    position: absolute;
    z-index: 1;
    color: white;
    right: 16px;
    top: 5px;
  }
  &-drag-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    // border: 1px solid rgba(50, 166, 127, 1);
  }
  &-header {
    display: flex;
    justify-content: space-between;
    height: 36px;
    line-height: 36px;
    color: white;
    z-index: 1;
    transform: translateX(0);
    cursor: move;
    &-title {
      flex: 1;
      padding-left: 8px;
      &::after {
        content: '';
        position: absolute;
        background-color: red;
      }
      .template_span {
        max-width: 100px;
        overflow: hidden;
        background: #eee;
        border-radius: 2px;
        height: 24px;
        line-height: 24px;
        padding: 2px 4px;
        min-width: 40px;
        font-size: 14px;
        color: #9c9c9c;
        pointer-events: auto;
        margin: 0 4px;
        display: inline-flex;
        vertical-align: middle;
        &__empty {
          border: 1px solid red;
        }
        &:empty {
          &::before {
            content: '_';
            visibility: hidden;
          }
        }
      }
      .template_input {
        pointer-events: auto;
        max-width: 100px;
        color: #9c9c9c;
        margin: 0 4px;
        height: 24px;

        &:focus {
          // border-color: #32a67f;
          outline: none;
        }
      }
    }
    &:hover {
      .loopstatement-header-operation {
        right: 16px;
        visibility: visible;
      }
    }
    &-operation {
      position: absolute;
      visibility: hidden;
      // margin-right: 40px;
      > * {
        margin-left: 10px;
        vertical-align: middle;
      }
    }
  }
  &-content {
    padding: 10px 2px 10px 24px;
    // padding-left: 24px;
    // padding-right: 2px;
    overflow: auto;
    transition: all 0.5s;
  }
  &::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 2px;
    background: #32a67f;
    left: 50%;
    bottom: -5px;
    transform: rotateZ(90deg) translateX(0);
  }
}
