.parampanel {
  &-item {
    display: flex;
    align-items: center;
    margin: 4px 0;
    .param-title {
      white-space: nowrap;
      margin-right: 16px;
    }
  }
  &-required,
  &-optional {
    height: 40px;
    background: rgba(255, 255, 255, 1);
    line-height: 40px;
    padding-left: 15px;
    border-bottom: 1px solid #eeeeee;
  }
  &-content {
    padding: 8px 16px;
  }
  &-desc {
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    align-items: center;
    > span {
      margin-right: 16px;
    }
    > input {
      flex: 1;
    }
  }
  &-choosePath {
    display: flex;
  }
}
