@import '../common/style/common.scss';

.designergraph {
  background: rgba(255, 255, 255, 1);
  height: calc(100vh);
  display: flex;
  color: #000;
  &-item {
    min-width: 239px;
    max-width: 239px;
    flex-basis: 239px;
    box-shadow: 1px 0 0 0 rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
    &-title {
      height: 40px;
      line-height: 40px;
      padding-left: 20px;
      font-weight: 400;
      color: rgba(102, 102, 102, 1);
      box-shadow: 0 1px 0 0 rgba(238, 238, 238, 1);
    }
    .sd-tree {
      overflow: auto;
      height: calc(100vh - 128px);
      margin: 8px 17px 0 20px;
      .sd-tree-open {
        height: 40px;
        line-height: 40px;
      }
      .sd-tree-switcher {
        position: absolute;
        right: 0;
        top: 14px;
        user-select: none;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  &-container {
    height: calc(100% - 72px);
    flex: 1;
    max-width: calc(100vw - 239px * 2);
    background-color: #f9fafb;
    box-shadow: 1px 0 0 0 #eee;
    &-header {
      position: relative;
      height: 40px;
      line-height: 40px;
      color: rgba(204, 204, 204, 1);
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 1px 0 0 rgba(238, 238, 238, 1);
      &-title {
        position: absolute;
        right: 10px;
        width: 146px;
        text-align: right;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  &-parampanel {
    min-width: 239px;
    max-width: 239px;
    flex-basis: 239px;
    &-tabs {
      .ant-tabs-tab {
        margin: 0;
        min-width: 68px;
        text-align: center;
      }
      @include tabs();
    }
  }
}
