@import '../common/style/common.scss';

.while-radio {
  margin-top: 24px;
  .ant-radio {
    position: absolute;
    top: -24px;
    left: 20%;
  }
  .while-desc {
    margin-top: -48px;
    margin-left: 26%;
  }
}

.designergraph {
  background: rgba(255, 255, 255, 1);
  height: calc(100vh - 76px);
  // border-left: 2px solid #32a67f;
  // border-right: 2px solid #32a67f;
  overflow-x: hidden;
  display: flex;
  color: #000;
  &-item {
    flex-basis: 239px;
    box-shadow: 1px 0 0 0 rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
    min-width: 120px;
    max-width: 500px;
    // pointer-events: none;
    position: relative;
    &::before {
      pointer-events: auto;
      content: '';
      height: 100%;
      width: 5px;
      cursor: col-resize;
      position: absolute;
      // top: 112px;
      z-index: 2;
      right: 0;
    }
    &-title {
      width: 239px;
      height: 40px;
      line-height: 40px;
      padding-left: 20px;
      // padding-right: 20px;
      font-weight: 400;
      color: rgba(102, 102, 102, 1);
      box-shadow: 0 1px 0 0 rgba(238, 238, 238, 1);
      display: flex;
      .current-project-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 180px;
      }
      i {
        width: 16px;
        position: relative;
      }
      svg {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
      }

      .anticon-edit {
        display: none;
      }
      &:hover {
        .anticon-edit {
          display: inline-block;
        }
      }
    }
    .ant-tree-switcher-noop {
      visibility: hidden;
    }
    .ant-tree li {
      position: relative;
    }
    .sd-tree {
      overflow: auto;
      height: calc(100vh - 180px);
      margin: 8px 17px 0 20px;
      .sd-tree-open {
        height: 40px;
        line-height: 40px;
      }
      .sd-tree-switcher {
        position: absolute;
        right: 0;
        top: 14px;
        user-select: none;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .draggable-tree {
      .ant-tree-node-content-wrapper {
        height: 32px;
        line-height: 28px;
        margin-left: -20px;
      }
      .ant-tree-node-selected {
        color: #32a67f;
        background-color: transparent !important;
        .treenode-title {
          background-color: #f7f8f9 !important;
          &::before {
            content: '';
            position: absolute;
            background: #32a67f;
            width: 2px;
            height: 30px;
            margin-left: -3px;
          }
        }
      }
    }
  }
  &-container {
    // display: flex;
    // flex-direction: column;
    height: calc(100% - 32px);
    flex: 1;
    // max-width: calc(100vw - 239px * 2);
    background-color: #f9fafb;
    box-shadow: 1px 0 0 0 #eee;
    // z-index: 2;
    // position: relative;
    &-header {
      position: relative;
      height: 40px;
      line-height: 40px;
      color: rgba(204, 204, 204, 1);
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 1px 0 0 rgba(238, 238, 238, 1);
      &-title {
        position: absolute;
        top: 0;
        right: 10px;
        width: 146px;
        text-align: right;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    &-itemPanel {
      display: flex;
      > * {
        margin-left: 32px;
        &:first-child {
          margin-left: 24px;
        }
      }
      .item {
        border: 1px solid rgba(238, 238, 238, 1);
        color: rgba(57, 175, 138, 1);
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        font-size: 12px;
        text-align: center;
        user-select: none;
        &__circle {
          width: 32px;
          height: 32px;
          border-radius: 16px;
        }
        &__rect {
          width: 68px;
          height: 32px;
          border-radius: 3px;
        }
        &__diamond {
          border: none;
          position: relative;
          width: 40px;
          height: 32px;
          &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border: 1px solid rgba(238, 238, 238, 1);
            transform: rotate(27deg) skew(-36deg);
          }
        }
        &__ellipse {
          width: 60px;
          height: 32px;
          border-radius: 36px;
        }
      }
    }
    &-flow {
      //flex: 1;
      height: calc(100% - 40px);
    }
    // canvas {
    //   width: 100% !important;
    // }
    &-readonly {
      background-color: unset;
    }
  }
  &-parampanel {
    min-width: 120px;
    max-width: 500px;
    flex-basis: 239px;
    position: relative;
    pointer-events: none;
    &::before {
      pointer-events: auto;
      content: '';
      height: 100%;
      width: 5px;
      cursor: col-resize;
      position: absolute;
      // top: 112px;
      z-index: 2;
    }
    &-tabs {
      pointer-events: auto;
      .ant-tabs-tab {
        margin: 0;
        min-width: 68px;
        text-align: center;
      }
      @include tabs();
    }
    .card-content {
      &::after {
        content: '';
        position: absolute;
        width: 8px;
        height: 2px;
        background: rgba(50, 166, 127, 1);
        left: 50%;
        bottom: -5px;
        transform: rotateZ(90deg) translateX(0);
      }
    }
  }

  .ant-tabs-bar {
    margin: 0;
    border: 0;
    .ant-tabs-nav {
      width: 240px;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        .ant-tabs-tab {
          flex: 1;
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC !important;
          font-weight: 400;
          // width: 110px;
          color: rgba(102, 102, 102, 1);
          line-height: 14px;
          height: 40px;
          margin: 0;
        }
        .ant-tabs-tab-active {
          flex: 1;
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(50, 166, 127, 1);
        }
      }
      .ant-tabs-ink-bar {
        // width: 100%;
        height: 2px;
        bottom: 2px;
        background: rgba(50, 166, 127, 1);
      }
    }
  }
  .ant-tabs-content {
    .treenode-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.loadingLayer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease 0.2s;
  .loadingContent {
    width: 500px;
    height: 500px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    p {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 100px;
      z-index: 4;
      color: black;
      text-align: center;
    }
  }
}
.showLoadingLayer {
  visibility: visible;
  opacity: 1;
}
