.login {
  display: flex;
  background: white;
  height: calc(100vh - 4px);
  width: calc(100vw - 4px);
  // height: 100vh;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  // position: absolute;
  // width: calc(100% - 16px);
  // height: calc(100% - 16px);
  // border-radius: 4px;
  // margin: 8px;
  // position: fixed;
  // top: 2px;
  // left: 2px;
  // box-shadow: 0 0 10px rgba(42, 140, 108, 1);
  // width: 800px;
  // background: white;

  &-left {
    flex-basis: 400px;
    background-image: url('../containers/assets/images/login.png');
    background-size: cover;
  }

  &-right {
    flex-basis: 400px;
    padding: 56px 0 0 80px;
    color: #333;

    &-form {
      &-item {
        margin-bottom: 16px;
        width: 240px;
        position: relative;

        div {
          line-height: 16px;
          font-size: 12px;
        }

        &::after {
          content: '';
          transition: width 0.5s linear;
          transform-origin: right;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 0;
          height: 1px;
          background-color: rgba(238, 238, 238, 1);
        }

        &:focus-within {
          &::after {
            transform-origin: left;
            width: 100%;
            left: 0;
          }
        }

        &:last-of-type {
          margin-bottom: 10px;
        }
      }
    }

    &-icon {
      &-close {
        position: absolute;
        right: 18px;
        top: 13px;
        font-size: 20px;
        transform: rotateX(43deg);
        cursor: pointer;
        color: #000;

        &:hover {
          color: #40a9ff;
        }
      }
    }

    &-title {
      margin-bottom: 40px;
      font-size: 14px;
      color: #333;
      font-weight: 500;
    }

    input {
      height: 40px;
      border: none;
      // border-bottom: 1px solid rgba(238, 238, 238, 1);
      border-radius: 0;
      padding-left: 0;

      &:focus {
        box-shadow: none;
      }
    }

    button {
      border-radius: 32px;
      width: 80px;
    }

    &-primary-button {
      border: #32a67f;
      background-color: #32a67f;
      color: #fff;
      &:active,
      &.active,
      &:hover,
      &:focus {
        border: #32a67f;
        background-color: #32a67f;
        color: #fff;
      }
    }

    &-offline {
      float: right;
      margin-right: 80px;
      color: #32a67f;

      &:hover,
      &:active,
      &:focus {
        color: #32a67f;
      }
    }

    &-liscense {
      margin-bottom: 2.28em;
      color: #333;

      &-file {
        color: #00a0e8;
      }
    }

    &-tip {
      display: block;
      position: relative;
      font-size: 12px;
      color: #f33;
      line-height: 12px;
      margin-bottom: 10px;
    }
  }

  .login-form-button {
    height: 32px;
    width: 80px;
    text-align: center;
    color: #fff;
    border-color: #fff;
    margin-right: 16px;
    background: rgba(50, 166, 127, 1);

    &:hover {
      border-color: #fff;
      color: #fff;
      background: rgba(50, 166, 127, 1);
    }

    &:focus {
      border-color: #fff;
      color: #fff;
      background: rgba(50, 166, 127, 1);
    }
  }
}

.login-right .login-right-serial {
  margin-bottom: 16px;
}

:root {
  margin: 0;
}

.ant-btn-disabled,
.ant-btn.disabled,
.ant-btn[disabled],
.ant-btn-disabled:hover,
.ant-btn.disabled:hover,
.ant-btn[disabled]:hover,
.ant-btn-disabled:focus,
.ant-btn.disabled:focus,
.ant-btn[disabled]:focus,
.ant-btn-disabled:active,
.ant-btn.disabled:active,
.ant-btn[disabled]:active,
.ant-btn-disabled.active,
.ant-btn.disabled.active,
.ant-btn[disabled].active {
  color: #fff;
}
