.dragger-editor-container-output-tages {
  float: right;
  color: #2e2e2e;
  user-select: none;
  .ant-tag-checkable-checked,
  .ant-tag-checkable:active {
    background-color: transparent;
    border: 1px solid #cccccc;
    border-radius: 12px;
  }
  span {
    color: #2e2e2e;
    &:hover {
      color: #2e2e2e;
      opacity: 1;
    }
  }
  &-label {
    padding-left: 8px;
  }
}
