.loopstatement {
  &-drag-anchor {
    background: transparent;
    height: 12px;
    cursor: move;
    transition: all 0.5s;
    z-index: 1;
    transform: translateX(0px);
    // &:hover {
    //   // background-color: rgba(50, 166, 127, 1);
    // }
  }
  &-fold-anchor {
    position: absolute;
    z-index: 1;
    color: white;
    right: 16px;
    top: 5px;
  }
  &-drag-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    border: 1px solid rgba(50, 166, 127, 1);
  }
  &-header {
    height: 28px;
    line-height: 28px;
    background-color: rgba(50, 166, 127, 1);
    color: white;
    z-index: 1;
    transform: translateX(0px);
    cursor: move;
    &-title {
      padding-left: 8px;
      &::after {
        content: '';
        position: absolute;
        background-color: red;
      }
    }
  }
  &-content {
    padding-left: 24px;
    padding-right: 2px;
    overflow: auto;
    transition: all 0.5s;
  }
}
