.loopstatement {
  &-drag-anchor {
    background: transparent;
    height: 12px;
    cursor: move;
    transition: all 0.5s;
    z-index: 1;
    transform: translateX(0px);
    // &:hover {
    //   // background-color: rgba(50, 166, 127, 1);
    // }
  }
  &-drag-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    border: 1px solid rgba(50, 166, 127, 1);
  }
  &-header {
    height: 24px;
    line-height: 24px;
    background-color: rgba(50, 166, 127, 1);
    color: white;
    padding-left: 8px;
    z-index: 1;
    transform: translateX(0px);
    cursor: move;
  }
  &-content {
    padding-left: 24px;
    padding-right: 2px;
  }
}
