@mixin tabs {
  .ant-tabs-nav {
    div:nth-child(1) {
      height: 42px;
    }
    .ant-tabs-tab-active {
      color: rgba(50, 166, 127, 1);
    }
    .ant-tabs-ink-bar {
      background-color: rgba(50, 166, 166, 1);
    }
  }
}

.dragger-editor {
  background: rgba(255, 255, 255, 1);
  height: calc(100vh);
  display: flex;
  color: #000;
  &-item {
    flex-basis: 239px;
    box-shadow: 1px 0px 0px 0px rgba(238, 238, 238, 1);
    &-title {
      height: 40px;
      line-height: 40px;
      padding-left: 20px;
      font-weight: 400;
      color: rgba(102, 102, 102, 1);
      box-shadow: 0px 1px 0px 0px rgba(238, 238, 238, 1);
    }
    &-statement {
      line-height: 32px;
      padding-left: 24px;
      // text-align: center;
      // margin: 6px 0;
    }
    &-tree {
      .ant-tree-switcher_open {
        position: absolute !important;
        right: 0;
      }
      .ant-tree-switcher_close {
        position: absolute !important;
        right: 0;
      }
      .ant-tree-switcher-noop {
        display: none !important;
      }
    }
    .ant-tree-show-line li:not(:last-child)::before {
      display: none;
    }
  }
  &-container {
    flex: 1;
    box-shadow: 1px 0px 0px 0px #eeeeee;
    &-tabs {
      @include tabs();
    }
  }
  &-parampanel {
    flex-basis: 239px;
    &-tabs {
      @include tabs();
    }
  }
  .cursor__after {
    &::before {
      content: '';
      position: absolute;
      border: 10px solid transparent;
      border-left: 10px solid #bd1a1a;
      height: 0;
      width: 0;
      margin-left: -30px;
      bottom: -12px;
    }
  }
  .cursor__before {
    &::before {
      content: '';
      position: absolute;
      border: 10px solid transparent;
      border-left: 10px solid #bd1a1a;
      height: 0;
      width: 0;
      margin-left: -30px;
      top: -16px;
    }
  }
  .card-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px dashed grey;
  }
  .card-content {
    position: relative;
    z-index: 1;
    padding: 0.5rem 1rem;
  }
}
