.dragger-editor {
  background: rgba(255, 255, 255, 1);
  height: calc(100vh);
  display: flex;
  color: #000;
  &-item {
    flex-basis: 239px;
    box-shadow: 1px 0px 0px 0px rgba(238, 238, 238, 1);
    &-title {
      height: 40px;
      line-height: 40px;
      padding-left: 20px;
      font-weight: 400;
      color: rgba(102, 102, 102, 1);
      box-shadow: 0px 1px 0px 0px rgba(238, 238, 238, 1);
    }
    &-statement {
      line-height: 37px;
      text-align: center;
      margin: 6px 0;
    }
  }
  &-container {
    flex: 1;
  }
  &-parampanel {
    padding-top: 10px;
    flex-basis: 200px;
    // flex: 1;
  }
  .cursor__after {
    &::before {
      content: '';
      position: absolute;
      border: 10px solid transparent;
      border-left: 10px solid #bd1a1a;
      height: 0;
      width: 0;
      margin-left: -30px;
      bottom: -12px;
    }
  }
  .cursor__before {
    &::before {
      content: '';
      position: absolute;
      border: 10px solid transparent;
      border-left: 10px solid #bd1a1a;
      height: 0;
      width: 0;
      margin-left: -30px;
      top: -16px;
    }
  }
  .card-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px dashed grey;
  }
  .card-content {
    position: relative;
    z-index: 1;
    padding: 0.5rem 1rem;
  }
}
